@import 'tailwindcss';
@plugin "daisyui";

:root {
  --background: #ffefff;
  --foreground: #e8dae8;
}

@theme {
  --color-azul: #bee0fe;
  --color-rosa: #f7a8c8;
  --color-verde: #c3edd9;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #e8dae8;
    --foreground: #ffefff;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.page-layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
